<!DOCTYPE html>
<html lang="zh-cn">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title> 物联云平台</title>
</head>
<!-- base static file -->
<link href="/static/btst/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/btst/css/datepicker3.css" rel="stylesheet" />
<link href="/static/btst/css/styles.css" rel="stylesheet" />



<script type="text/javascript">
    function showframe(id){
        $(".ml1").removeClass("active");
        $("#ml1"+id).addClass("active");
    }
</script>



<body>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        遮罩层标题
                    </h4>
                </div>
                 -->
                <div class="modal-body">

                    <div class="panel panel-default">
                        <div class="panel-body tabs">
                            <ul class="nav nav-tabs">

                                <li class="active col-md-6"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                                <li class="col-md-6"><a href="#tab2" data-toggle="tab">Tab 2</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <h4>Tab 1</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <h4>Tab 2</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor. </p>
                                </div>
                            </div>
                        </div>
                    </div><!--/.panel-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    ﻿<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">IOT cloud</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span></span>物联网云平台</a>
                <ul class="user-menu">
                    <!--
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> kay <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                        </ul>
                    </li>
                    -->
                    <li class="dropdown pull-right ">
                        <a href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> 管理控制台 </a>
                    </li>

                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>



﻿	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <!-- 导航栏1 -->
        <li id="ml1010" class="active ml1" >
            <a href="login" target="right" onclick="showframe('010')">
                <span class="glyphicon glyphicon-dashboard"></span> 概览</a>
        </li>
        <!-- 导航栏2 -->
        <li id="ml1020" class="ml1" >
            <a href="login" target="right" onclick="showframe('020')">
                <span class="glyphicon glyphicon-th"></span> 模块</a>
        </li>
        <!-- 导航栏3 -->
        <li id="ml1030" class="ml1">
            <a href="" target="right" onclick="showframe('030')">
                <span class="glyphicon glyphicon-stats"></span> 传感器</a>
        </li>
        <!-- 导航栏4 -->
        <li id="" class="parent ml1">
            <a data-toggle="collapse" href="#sub-item-1" >
                <span class="glyphicon glyphicon-list"></span> 用户 <span class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li id="ml1040" class="ml1">
                    <a class="" href="/" target="right" onclick="showframe('040')">
                        <span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
                    </a>
                </li>
                <li id="ml1041" class="ml1">
                    <a class="" href="/" target="right" onclick="showframe('041')">
                        <span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
                    </a>
                </li>
                <li id="ml1042" class="ml1">
                    <a class="" href="/" target="right" onclick="showframe('042')">
                        <span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>

    </ul>
    <div class="attribution">www.mylonglee.com</div>
</div><!--/.sidebar-->



<!--

		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    		<div class="row">
				<iframe name="right" id="main_content" src="login" style="margin-top: 5px;width: 100%;height:100%; background-color: #f1f1f1;" frameborder="0"></iframe>
        	</div>
        </div>
-->



<script src="/static/btst/js/jquery-1.11.1.min.js"></script>
<script src="/static/btst/js/bootstrap.min.js"></script>
<script src="/static/btst/js/chart.min.js"></script>
<script src="/static/btst/js/chart-data.js"></script>
<script src="/static/btst/js/easypiechart.js"></script>
<script src="/static/btst/js/easypiechart-data.js"></script>
<script src="/static/btst/js/bootstrap-datepicker.js"></script>





<script>

    !function ($) {
        $(document).on("click","ul.nav li.parent > a", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>







</body>
</html>